

@section TitleContent {

    Home Page

}


    <h2>Welcome</h2>
    <ul>
    <li>@ViewData["Message"]</li>
    <li>The page with <a href="/Products/List">Products</a> contains some more interesting stuff.</li>
    </ul>


